<% 
const metaInfo = {
  title: 'トップページのタイトル',
  description: 'トップページのディスクリプション',
  path: './'
}
%>

<%- include(metaInfo.path + 'common/_header', {metaInfo: metaInfo} ); %>

<main>
  <h1>Hello ejs</h1>
  <p>トップページのテキスト</p>
</main>

<%- include(metaInfo.path + 'common/_footer', {metaInfo: metaInfo} ) %>