.c-hamburger {
  height: 26px;
  outline: none;
  padding: 0;
  position: fixed;
  right: 25px;
  top: 17px;
  transition: transform 0.3s ease-in-out;
  width: 32.5px;
  z-index: 5;
  &:focus {
    outline: none;
  }
  @include mq-min(w768) {
    display: none;
  }
}

.c-hamburger_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.c-hamburger__line {
  background-color: #666;
  bottom: 0;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
  width: 32.5px;
  &::before,
  &::after {
    background-color: inherit;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: inherit;
    width: 100%;
  }
}
.is-drawerActive {
  .c-hamburger__menu {
    opacity: 1;
    transition: opacity 0.3s;
    visibility: visible;
    z-index: 4;
  }
}
.is-fixed {
  overflow: hidden;
}
.c-hamburger__line::before {
  top: -10px;
}
.c-hamburger__line::after {
  top: 10px;
}
.c-hamburger[aria-expanded="true"] .c-hamburger__line {
  background-color: transparent;
  &::before,
  &::after {
    background-color: orange;
    top: 0;
  }
}
.c-hamburger[aria-expanded="true"] .c-hamburger__line::before {
  transform: rotate(45deg);
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line::after {
  transform: rotate(-45deg);
}

.c-hamburger__menu {
  background-color: rgba(#fff, 0.9);
  bottom: 0;
  height: 100vh;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.c-hamburger__header {
  background: #fff;
  height: 58px;
  width: 100%;
}
.c-hamburger__logo {
  padding-left: 25px;
}
.c-hamburger__item {
  align-items: center;
  display: flex;
  height: 100%;
}
.c-hamburger__lists {
  padding: 80px 0;
  text-align: center;
}
.c-hamburger__list {
  border-top: 1px solid #000;
  &:last-child {
    border-bottom: 1px solid #000;
  }
}
.c-hamburger__link {
  display: block;
  font-weight: 700;
  padding: 20px 0;
  position: relative;
}
.c-hamburger__link-en {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.c-hamburger__btn {
  margin-top: 30px;
  padding: 0 20px;
  .c-btn {
    font-size: 15px;
  }
}
